@page "/questions/details"
@using Microsoft.EntityFrameworkCore
@using StudentMind.Core.Entity
@using StudentMind.Core.Interfaces
@inject IUnitOfWork UnitOfWork
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Question</h2>
    <hr />
    @if (question is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Content</dt>
            <dd class="col-sm-10">@question.Content</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@question.CreatedBy</dd>
            <dt class="col-sm-2">LastUpdatedBy</dt>
            <dd class="col-sm-10">@question.LastUpdatedBy</dd>
            <dt class="col-sm-2">DeletedBy</dt>
            <dd class="col-sm-10">@question.DeletedBy</dd>
            <dt class="col-sm-2">CreatedTime</dt>
            <dd class="col-sm-10">@question.CreatedTime</dd>
            <dt class="col-sm-2">LastUpdatedTime</dt>
            <dd class="col-sm-10">@question.LastUpdatedTime</dd>
            <dt class="col-sm-2">DeletedTime</dt>
            <dd class="col-sm-10">@question.DeletedTime</dd>
        </dl>
        <div>
            <a href="@($"/questions/edit?id={question.Id}")">Edit</a> |
            <a href="@($"/questions")">Back to List</a>
        </div>
    }
</div>

@code {
    private Question? question;

    [SupplyParameterFromQuery]
    private string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var questionRepository = UnitOfWork.GetRepository<Question>();
        question = await questionRepository.Entities.FirstOrDefaultAsync(s => s.Id == Id);

        if (question is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
