@page
@model StudentMind.Razor.Pages.QuestionPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form method="get">
    <div class="row">
        <div class="col-md-4">
            <label>Search Content:</label>
            <input type="text" name="searchQuestions" value="@Model.SearchQuestions" class="form-control" />
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question[0].CreatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question[0].LastUpdatedTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Question) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.TotalPages > 1)
{
    <nav>
        <ul class="pagination justify-content-center">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-page="./Index"
                       asp-route-pageNumber="@i"
                       asp-route-searchQuestions="@Model.SearchQuestions">
                        @i
                    </a>
                </li>
            }
        </ul>
    </nav>
}