@page "/surveys/details"
@using Microsoft.EntityFrameworkCore
@using StudentMind.Core.Entity
@inject IDbContextFactory<StudentMind.Infrastructure.Context.DatabaseContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Survey</h2>
    <hr />
    @if (survey is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@survey.Name</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@survey.Description</dd>
            <dt class="col-sm-2">StartDate</dt>
            <dd class="col-sm-10">@survey.StartDate</dd>
            <dt class="col-sm-2">EndDate</dt>
            <dd class="col-sm-10">@survey.EndDate</dd>
            <dt class="col-sm-2">TotalParticipants</dt>
            <dd class="col-sm-10">@survey.TotalParticipants</dd>
            <dt class="col-sm-2">TypeId</dt>
            <dd class="col-sm-10">@survey.TypeId</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@survey.CreatedBy</dd>
            <dt class="col-sm-2">LastUpdatedBy</dt>
            <dd class="col-sm-10">@survey.LastUpdatedBy</dd>
            <dt class="col-sm-2">DeletedBy</dt>
            <dd class="col-sm-10">@survey.DeletedBy</dd>
            <dt class="col-sm-2">CreatedTime</dt>
            <dd class="col-sm-10">@survey.CreatedTime</dd>
            <dt class="col-sm-2">LastUpdatedTime</dt>
            <dd class="col-sm-10">@survey.LastUpdatedTime</dd>
            <dt class="col-sm-2">DeletedTime</dt>
            <dd class="col-sm-10">@survey.DeletedTime</dd>
        </dl>
        <div>
            <a href="@($"/surveys/edit?id={survey.Id}")">Edit</a> |
            <a href="@($"/surveys")">Back to List</a>
        </div>
    }
</div>

@code {
    private Survey? survey;

    [SupplyParameterFromQuery]
    private string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        survey = await context.Surveys.FirstOrDefaultAsync(m => m.Id == Id);

        if (survey is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
