@page "/appointments/details"
@using Microsoft.EntityFrameworkCore
@using StudentMind.Core.Entity
@inject IDbContextFactory<StudentMind.Infrastructure.Context.DatabaseContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Appointment</h2>
    <hr />
    @if (appointment is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">PsychologistId</dt>
            <dd class="col-sm-10">@appointment.PsychologistId</dd>
            <dt class="col-sm-2">UserId</dt>
            <dd class="col-sm-10">@appointment.UserId</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@appointment.CreatedBy</dd>
            <dt class="col-sm-2">LastUpdatedBy</dt>
            <dd class="col-sm-10">@appointment.LastUpdatedBy</dd>
            <dt class="col-sm-2">DeletedBy</dt>
            <dd class="col-sm-10">@appointment.DeletedBy</dd>
            <dt class="col-sm-2">CreatedTime</dt>
            <dd class="col-sm-10">@appointment.CreatedTime</dd>
            <dt class="col-sm-2">LastUpdatedTime</dt>
            <dd class="col-sm-10">@appointment.LastUpdatedTime</dd>
            <dt class="col-sm-2">DeletedTime</dt>
            <dd class="col-sm-10">@appointment.DeletedTime</dd>
        </dl>
        <div>
            <a href="@($"/appointments/edit?id={appointment.Id}")">Edit</a> |
            <a href="@($"/appointments")">Back to List</a>
        </div>
    }
</div>

@code {
    private Appointment? appointment;

    [SupplyParameterFromQuery]
    private string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        appointment = await context.Appointments.FirstOrDefaultAsync(m => m.Id == Id);

        if (appointment is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
