@page
@model StudentMind.Razor.Pages.SurveyQuestionPages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SurveyQuestion</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyQuestion.Survey)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SurveyQuestion.Survey.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyQuestion.Question)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SurveyQuestion.Question.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyQuestion.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SurveyQuestion.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyQuestion.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SurveyQuestion.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyQuestion.LastUpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SurveyQuestion.LastUpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyQuestion.DeletedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SurveyQuestion.DeletedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyQuestion.CreatedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SurveyQuestion.CreatedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyQuestion.LastUpdatedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SurveyQuestion.LastUpdatedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyQuestion.DeletedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SurveyQuestion.DeletedTime)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="SurveyQuestion.SurveyId" />
        <input type="hidden" asp-for="SurveyQuestion.QuestionId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
