@page
@model StudentMind.Razor.Pages.SurveyQuestionPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SurveyQuestion</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyQuestion.Survey)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SurveyQuestion.Survey.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyQuestion.Question)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SurveyQuestion.Question.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyQuestion.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SurveyQuestion.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyQuestion.CreatedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SurveyQuestion.CreatedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyQuestion.LastUpdatedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SurveyQuestion.LastUpdatedTime)
        </dd>
    </dl>
</div>
<div>
    @* <a asp-page="./Edit" asp-route-id="@Model.SurveyQuestion.Id">Edit</a> | *@
    <a asp-page="./Index">Back to List</a>
</div>
