@page "/events/delete"
@using Microsoft.EntityFrameworkCore
@using StudentMind.Core.Entity
@using StudentMind.Core.Interfaces
@inject IUnitOfWork UnitOfWork
@inject NavigationManager NavigationManager

<link rel="stylesheet" href="css/event.css" />

<PageTitle>Delete Event</PageTitle>

<div class="center-container">
    <h1>Delete Event</h1>
    <p class="text-danger">Are you sure you want to delete this event?</p>
    <h2>Event Information</h2>
    <hr />
    @if (currentEvent is null)
    {
        <div class="loading"><em>Loading...</em></div>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">Event Name</dt>
            <dd class="col-sm-10">@currentEvent.Name</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@currentEvent.Description</dd>
            <dt class="col-sm-2">Start Date</dt>
            <dd class="col-sm-10">@currentEvent.StartDate.ToString("d MMMM yyyy")</dd>
            <dt class="col-sm-2">End Date</dt>
            <dd class="col-sm-10">@currentEvent.EndDate.ToString("d MMMM yyyy")</dd>
            <dt class="col-sm-2">Host ID</dt>
            <dd class="col-sm-10">@currentEvent.HostId</dd>
        </dl>
        <div class="center-container" style="text-align: center; margin-top: 2rem;">
            <button @onclick="DeleteEvent" class="btn btn-danger">Delete</button> <span> | </span>
            <a href="/events">Back to List</a>
        </div>
    }
</div>

@code {
    private Event? currentEvent;

    [Parameter, SupplyParameterFromQuery]
    public string? Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(Id))
        {
            NavigationManager.NavigateTo("notfound");
            return;
        }

        currentEvent = await UnitOfWork.GetRepository<Event>().GetByIdAsync(Id);

        if (currentEvent is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteEvent()
    {
        if (currentEvent is null) return;

        var repo = UnitOfWork.GetRepository<Event>();
        await repo.DeleteAsync(currentEvent);
        await UnitOfWork.SaveAsync();

        NavigationManager.NavigateTo("/events");
    }
}